h1{
    color: aqua;
}

.primero{
    color: green;
}

#segundo{
    color: blue;
}

.contenedor h2{
    color: blueviolet;
}

h1,h2{
    color: chartreuse !important;
}

html,body{
    height: 100%;
}

.header{
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
}


.nav{
    display: flex;
    gap: 24px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 1s;
}

.nav a:hover{
    color: rgb(255, 53, 3);
}


.ejemplo{
    border: 1px black solid;
    margin-left: 50px;
    padding: 50px;
    width: 4rem;
}
.ejemplo2{
    border: 1px black solid;
    margin-left: 50px;
    padding: 50px;
    width: 64px;
}

/*
1 rem = 16px 
*/

.footer{
    background-color: cadetblue;
    color: white;
    padding: 24px 32px;

}

.footer-contenido{
    /* border: 1px black solid; */
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

}

.footer p{
    font-size: 16px;
    margin: 0;
}

.footer-nav{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.footer-nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 1s;
}

.footer-nav a:hover{
    color: brown;
}

body{
    margin: 0;
}


.card{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border-radius: 24px;
    padding: 10px;
    margin: 20px;
}

.card img{
    height: 100px;
    width: 100px;
}


.contenedor-boton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px rgb(255, 7, 7) solid; */
    width: 100%;
}


.btn-ver{
    background-color: green;
    color: white;
    height: 40px;
    width: 70px;
    border-radius: 9px;
}

.btn-agregar{
    background-color: red;
    color: white;
    height: 40px;
    width: 70px;
    border-radius: 9px;
}